<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example Website for Surfly</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
        widgetkey:"dd402bb4940b4cf3a855aaa371d11419",
        apiserver:"https://surfly.com/v2/",
        };var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="//surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();
    </script>
  </head>
  <body>
    <form>
         <h2>Car Order Form</h2>
        <div class="payment_form"> 
              <h4>Build</h4>
               <p><input type = "text" name = "Login" surfly_private></p>
              <h4>Amount</h4>
               <p><input type = "text" name = "Login" surfly_private></p>
              <h4>Color</h4>
               <p><input type = "text" name = "Login" surfly_private></p>
             <div class="buy">
             <button onclick="logSale()">Buy</button>
             </div>
             <script type="text/javascript">
              function logSale(){
                  var obj = Surfly.log("Sale complete");
                  console.log("it worked!");
		  JSON.stringify(obj);
		  var agent_id = obj[1];
		  console.log(agent_id);
               }
              </script>
        </div>
     </form>
<a href="{{ url_for('agents') }}"> Agents </a>
  </body>
  

</html>


