<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Example Website for Surfly</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
        widgetkey:"dd402bb4940b4cf3a855aaa371d11419",
        apiserver:"https://surfly.com/v2/",
        };var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="//surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();
    </script>
  </head>
  <body>
    <form>
         <h2>Car Order Form</h2>
        <div class="payment_form"> 
              <h4>Build</h4>
               <p><input type = "text" name = "Login" surfly_private></p>
              <h4>Amount</h4>
               <p><input type = "text" name = "Login" surfly_private></p>
              <h4>Color</h4>
               <p><input type = "text" name = "Login" surfly_private></p>
             <div class="buy">
             <button onclick="logSale()">Buy</button>
             </div>
             <script type="text/javascript">
              function logSale(){
                  Surfly.log("Sale completed");
               }
              </script>
        </div>
     </form>
<a href="{{ url_for('agents') }}"> Agents </a>

<script type="text/javascript">
var request = new XMLHttpRequest();

request.open('GET', 'https://api.surfly.com/v2/agents/?api_key=a021371cdd3c4256a1ed79e3d18fd87b');
var res = [];
request.onreadystatechange = function () { 

  if (this.readyState === 4) {
    var agents = this.responseText;
    var arr = agents.split('{');
    for(var i=0;i<arr.length;i++){
	var agent = arr[i];
	var index = agent.indexOf("agent_id");
	var index_name = agent.indexOf("agent_name");
    	res.push([agent.substring(index+10,index_name-2),0]);
    }    
    console.log(res);
    return res;
  }
};

request.send();

var request_logs = new XMLHttpRequest();

request_logs.open('GET', 'https://api.surfly.com/v2/logs/?api_key=a021371cdd3c4256a1ed79e3d18fd87b');
var count = 0;
request_logs.onreadystatechange = function () {
  if (this.readyState === 4) {
    var str = this.responseText;
    var array = str.split('{');

    for(var i =0; i<array.length;i++){
	var element = array[i];
	var index = element.indexOf("details");
	var line = element.substring(index+10, element.length-3);
	line = line.replace('\/"',"");
	if(window.__surfly){
		if(line=="Sale completed"){
			var index_ag = element.indexOf("agent_id");
			var index_created = element.indexOf("created");
			var id = element.substring(index_ag+11, index_created-2);
			for(var j =0; j<res.length;j++)){
				console.log(res[1][0]);
				if(res[j][0]==id){
					agent[j][1] += 1;
				}
			}
			//count +=1;
			//console.log(count);
		}
	}
    }
    /*
    if (this.responseText.details=="Sale complete){
	console.log("sale registered");
    }
  */
  }
};

request_logs.send();
</script>

  </body>
  

</html>


